.degree {
    min-height: 60%;
    margin: 0;
    h1 {
        font-size: 2em;
    }
}

@media (min-width: 200px) and (max-width:500px) {
    .degree {
        min-height: 20%;
        h1 {
            margin: 0 auto;
        }
    }
}