.weatherState {
    display: inline-block;
    margin: 0;
    .weatherName {
        display: inline-block;
        h1 {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 4em;
        }
    }
    .weatherImg {
        display: inline-block;
        img {
            margin-top: -3em;
            padding: 0;
            width: 7em;
        }
    }
}