/* font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; */

.App {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
    color: #28214D;
}

.container {
    padding: 5em;
    max-width: 45em;
    height: 55em;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
}

.topRight {
    width: 20em;
    position: absolute;
    top: 0%;
    left: 52%;
}

.leaf-top-Left {
    position: absolute;
    width: 35em;
    top: 15%;
    right: 58%;
    transform: rotate(-180deg) scaleY(-1);
}

.leaf-top-right {
    position: absolute;
    width: 25em;
    top: 12%;
    left: 60%;
}

.leaf-bottom-left {
    position: absolute;
    /* width: 25em; */
    top: 50%;
    right: 60%;
    transform: rotate(-180deg);
}

.leaf-bottom-right {
    position: absolute;
    /* width: 35em; */
    top: 50%;
    left: 57%;
}